/* Vars */
:root {
  --white: #eeeeee;
  --offwhite: #c0c0c0;
  --black: #000000;
  --magenta: #e53aa3;
  --magenta-light: #ff7bcc;
  --red: #f93c31;
  --blue: #1e93ff;
  --blue-light: #87d8f1;
  --yellow: #ffdc00;
  --orange: #ff851b;
  --maroon: #921231;
  --green: #4fcc30;
  --gray: #555555;
  --gray-light: #999999;
}

/* Body */
body {
  background-color: var(--black);
  color: var(--offwhite);
  font-family: "Anonymous Pro", "Courier";
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Links */
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #00ccff;
}

a:visited {
  color: #ea2cff;
}

/* Text */
p,
ul {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  list-style-type: none;
  row-gap: 110px;
  font-weight: bold;
}

b {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.available-upon-request {
  color: #aaa;
  font-size: 0.8em;
  font-style: italic;
  opacity: 0.8;
  text-align: center;
  vertical-align: middle;
}

/* Particles Background */
#particles-js {
  background: #000000;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

/* Grid Background */
.bg-grid {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  width: 100%;
  height: 70vh;
  -webkit-perspective: 56.25vh;
  perspective: 50.25vh;
  z-index: -2;
}

.bg-grid-mask {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: transparent;
  background-image: linear-gradient(180deg, var(--black) 25%, transparent),
    radial-gradient(
      circle farthest-corner at 50% 0%,
      transparent 85%,
      var(--black) 95%
    );
  z-index: -1;
}

.bg-grid-lines {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  width: 100%;
  height: 200%;
  background-image: linear-gradient(
      to right,
      rgba(255, 0, 255, 0.4) 1px,
      transparent 0
    ),
    linear-gradient(to bottom, rgba(255, 0, 255, 0.4) 1px, transparent 0);
  background-size: 4vh 3vh;
  background-repeat: repeat;
  transform-origin: 100% 0 0;
  animation: play 30s linear infinite;
}

.bg-grid-lines.stop {
  animation: none;
  transform: rotateX(45deg) translateY(-50%);
}

@keyframes play {
  0% {
    transform: rotateX(45deg) translateY(-50%);
  }

  100% {
    transform: rotateX(45deg) translateY(0);
  }
}
/* Container */
.container {
  background: rgba(9, 9, 9, 0.25);
  backdrop-filter: blur(4px);
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 0;
  position: relative;
  z-index: 1;
}

/* Headers */
.content-header {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  margin: 20px 0;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
}

.content-header:after {
  background: #00ccff;
  content: "";
  display: block;
  height: 3px;
  margin: 10px auto 0;
  width: 50px;
}

.profile-header {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.profile-header img {
  border-radius: 50%;
  height: 150px;
  margin-right: 20px;
  width: 150px;
  transition: transform 0.3s;
}

.profile-header img:hover {
  transform: scale(1.1);
}

.profile-header .info {
  display: flex;
  flex-direction: column;
}

.profile-header h1 {
  color: #fff;
  font-size: 36px;
  margin: 0;
}

.pronouns,
.general-info {
  color: #ccc;
}

.pronouns {
  font-size: 16px;
  margin-top: 3px;
}

.general-info {
  font-size: 20px;
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
}

/* Content */
.content {
  animation: bounceIn 1s forwards;
  opacity: 0;
}

.content.active {
  display: block;
}

.content-container {
  color: #ccc;
  height: calc(100% - 10px);
  margin: auto auto;
  width: calc(100% - 10px);
}

.not-found-message {
  align-items: center;
  color: #ccc;
  display: flex;
  font-size: 250%;
  height: 60vh;
  justify-content: center;
}

/* Animations */
@keyframes bounceIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

/* Tabs */
.tabs-container {
  align-items: center;
  backdrop-filter: blur(2px);
  /* Optimize blur */
  transform: translate3d(0, 0, 0);
  will-change: transform;

  background: rgba(9, 9, 9, 0.1);
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 1;
}

.tab {
  color: #e8e6e3;
  cursor: pointer;
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.tab:hover {
  background-color: rgba(50, 50, 50, 0.5);
}

/* Commit Log */
/* 
.commit-log {
  background: rgba(9, 9, 9, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
}

.commit-log h2 {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  margin: 0 0 20px;
  padding-bottom: 5px;
  position: relative;
  text-align: center;
  color: var(--primary-color);
}

.commit-log h2:after {
  background: var(--primary-color);
  content: "";
  display: block;
  height: 3px;
  margin: 10px auto 0;
  width: 50px;
}

.commit-log ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.commit-log li {
  margin-bottom: 15px;
}

.commit-log a.commit-hash {
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.commit-log a.commit-hash:hover {
  color: var(--blue-light);
}

.commit-log p.commit-message {
  color: var(--offwhite);
  font-size: 16px;
  margin: 5px 0 0;
} */
